/* .chip{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 4px 8px;
    color: rgb(249, 249, 249);
    background-color: gray;
    border-radius: 40px;
    font-size: 14px;
    width: fit-content;
}

.chip svg{
    height: 16px;
    width: 16px;
    cursor: pointer;
} */