/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App {
	text-align: center;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.App-logo {
	height: 80px;
}

input {
	border: 1px solid #1e8678;
}
.show-body {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.App-header {
	background-color: #1e8678;
	height: 200px;
	padding: 20px;
	color: #222;
}

.App-title {
	font-size: 1.5em;
	font-weight: bold;
	color: white;
}

cite {
	font-weight: bold;
}
table {
	align-content: center;
	margin: auto;
}
td {
	padding: 10px;
}

.App-intro {
	font-size: large;
}
.cap-first-letter:first-letter {
	text-transform: capitalize;
}
.col-sm-6,
col-md-4 {
	border: 1px;
}

.hometext {
	max-width: 60%;
}
.showlink {
	padding: 0.4rem 0.8rem;
	background-color: white;
	border-radius: 3px;
	color: #1e8678;
	text-decoration: none !important;
	margin: 5px;
}

.showlink:hover {
	background-color: transparent;
	color: white;
	border: 2px solid white;
}

li {
	padding: 20px;
}

p {
	/* margin-left: auto;
	margin-right: auto;
	text-align: center; */
  font-size: 16px;
  line-height: 28px;
}

div {
	text-align: center;
}

a {
	color: #1e8678;
	text-decoration: none !important;
}

ul a:hover {
	background-color: transparent;
	color: blue;
}

ul {
	list-style: none;
}

.title {
	font-weight: bold;
	color: #1e8678;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input {
		font-size: 16px;
	}
}

dt,
dl {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

dt {
	display: inline-block;
}

dd {
	display: inline;
	margin-left: 5px;
}

.kanban_navbar{
  width: 100%;
  padding: 20 px 30px;
  border-bottom: 1px solid #ccc;
}
.kanban{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.kanban_outer{
  flex: 1;
  width: 100%;
  overflow-x: auto;
  padding: 20px;
}

.kanban_boards{
  min-width: fit-content;
  display: flex;
  gap: 30px;
}