.App-link {
	color: #61dafb;
}

.App {
	text-align: center;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.App-logo {
	height: 80px;
}

input {
	border: 1px solid #1e8678;
}
.show-body {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.App-header {
	background-color: #1e8678;
	height: 200px;
	padding: 20px;
	color: #222;
}

.App-title {
	font-size: 1.5em;
	font-weight: bold;
	color: white;
}

cite {
	font-weight: bold;
}
table {
	align-content: center;
	margin: auto;
}
td {
	padding: 10px;
}

.App-intro {
	font-size: large;
}
.cap-first-letter:first-letter {
	text-transform: capitalize;
}
.col-sm-6,
col-md-4 {
	border: 1px;
}

.hometext {
	max-width: 60%;
}
.showlink {
	padding: 0.4rem 0.8rem;
	background-color: white;
	border-radius: 3px;
	color: #1e8678;
	text-decoration: none !important;
	margin: 5px;
}

.showlink:hover {
	background-color: transparent;
	color: white;
	border: 2px solid white;
}

li {
	padding: 20px;
}

p {
	/* margin-left: auto;
	margin-right: auto;
	text-align: center; */
	font-size: 16px;
	line-height: 28px;
}

div {
	text-align: center;
}

a {
	margin-right: 7px;
	color: black;
	text-decoration: none !important;
}

ul a:hover {
	background-color: transparent;
	color: blue;
}

ul {
	list-style: none;
}

.title {
	font-weight: bold;
	color: #1e8678;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input {
		font-size: 16px;
	}
}

dt,
dl {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

dt {
	display: inline-block;
}

dd {
	display: inline;
	margin-left: 5px;
}

.kanban_navbar {
	width: 100%;
	padding: 20 px 30px;
	border-bottom: 1px solid #ccc;
}
.kanban {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.kanban_outer {
	flex: 1;
	width: 100%;
	overflow-x: auto;
}

.kanban_boards {
	height: 100%;
	padding: 20px;
	padding-bottom: 0px;
	min-width: fit-content;
	display: flex;
	gap: 30px;
}
.nav-pills .nav-link {
	background-color: whitesmoke;
	border-radius: 2.5rem;
	margin-right: 7px;
}

.nav-link:hover {
	background-color: transparent;
	color: white;
	border: 2px solid white;
}

.navigation {
	background: #282c34;
	display: inline;
}

.navigation ul {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation a:link,
.navigation a:visited {
	color: white;
	text-decoration: none;
}

.active {
	font-weight: bold;
	color: red !important;
}

.error {
	font-weight: bold;
	color: red !important;
}

.forgotPassword {
	background: none !important;
	border: none !important;
	text-decoration: underline;
	margin-left: 5px;
	color: #069;
}

.forgotPassword:hover {
	text-decoration: none;
	color: red;
}
